@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
 <div class="container">
 <h1>Mentions Légales</h1>
 <p>Ce site web a été créé par :</p>
 <ul>
 <li>Nordine Smara</li>
 <li>Gabriella Diaz su</li>
 </ul>
 <p><strong>Description du site :</strong></p>
 <p>Hurst est une plateforme de vente en ligne spécialisée dans la vente de meubles. Nous proposons une sélection unique de meubles d'interieur pour des personnes lambda.</p>
 </div>
</body>