@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
 <div class="container">
 <h1>Mentions Légales</h1>
 <p>Ce site web a été créé par :</p>
 <ul>
 <li>[Votre prénom et nom]</li>
 <li>[Prénom et nom de votre coéquipier]</li>
 </ul>
 <p><strong>Description du site :</strong></p>
 <p>[Nom de votre site] est une plateforme de vente en ligne spécialisée dans les [Type de produits vendus]. Nous proposons une sélection unique de [Description de vos produits] pour [Votre public cible].</p>
 </div>
</body>